# Pipfile

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
autopep8 = "*"

[packages]
bs4 = "*"
requests = "*"

[requires]
python_version = "3.8"
